@import '/styles/_mixins.scss';
@import '/styles/_variables.scss';

.encounters{
    width: 100%;
    padding: 24px 16px;    
    display: flex;
    flex-direction: column;
    max-width: 1600px;

    .headerContainer{
        width: 100%;

        .header{
            padding-left: 12px;
        }
    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        @include xs{
            flex-direction: column;
            align-items: center;
        }

        .encounterList{
            padding-right: 22px;
    
            .list{
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }
    }
}