@import '/styles/_mixins.scss';
@import '/styles/_variables.scss';

.topBar{
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;

    .leftNav{
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        .buttonWrapper{
            padding: 8px 8px 8px 0;
            height: 100%;

            .navButton{
                height: 100%;
                padding: 0 12px;
                border: 2px solid $mainColorRed;
                font-family: $mainFont;
                background: transparent;
                color: $mainColorRed;
                font-weight: 500;
                border-radius: 1px;
                cursor: pointer;
                font-size: 15px;
                transition: all 0.1s ease-in-out;

                &.active{
                    background-color: $mainColorRed;
                    border: 2px solid $mainColorRed;
                    color: $dirtyGold;
                }

                &:hover{
                    background: $mainColorRed;
                    border: 2px solid $mainColorRed;
                    color: $dirtyGold;
                }
            }
        }
    }

    .headerContainer{
        height: 100%;
        display: flex;
        align-items: center;

        .header{
            margin: 0;
        }
    }

    .rightNav{
        height: 100%;
        width: 40%;
    }
}
    