@import '/styles/_mixins.scss';
@import '/styles/_variables.scss';

.layout{
    padding-top: $navHeight;
    position: relative;
    display: flex;
    flex-direction: column;

    &.hideHeader{
        padding-top: 0;
    }
}