@import '/styles/_mixins.scss';
@import '/styles/_variables.scss';

.createNew{
    max-height: 0;
    width: 100%;
    overflow: hidden;
    // transition: all 0.4s ease-in-out;

    .createNewWindow{
        width: calc(100% - 24px);
        margin: 12px;
        padding: 16px;
        border: 1px solid lightgray;
        box-shadow: $boxShadow;
        border-radius: 8px;

        .topHeader{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;

            .header{
                font-size: 20px;
                margin: 0;
            }

            .close{
                position: relative;
                height: 24px;
                width: 24px;
                cursor: pointer;
                transition: all 0.3s;

                .line{
                    position: absolute;
                    width: 24px;
                    height: 2px;
                    background-color: $mainColorRed;
                    top: 50%;
                    left: 50%;
                    transition: all 0.5s;
                }
                .lineOne{
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                .lineTwo{
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
                
                &:hover{
                    transform: rotate(90deg) scale(1.2);
                }
            }
        }

        .nameContainer{
            width: 100%;
            max-width: 300px;
            margin-bottom: 28px;
        }

        .listWrapper{
            width: 100%;

            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }

        .bottomBar{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-top: 22px;

            button{
                @include mainButton;
            }
        }
    }

    &.show{
        max-height: 1400px;
    }
}