@import '/styles/_mixins.scss';
@import '/styles/_variables.scss';

.nav{
    padding: 0 16px;

    .navItems{
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}