@import '/styles/_mixins.scss';
@import '/styles/_variables.scss';

.monster{
    width: 100%;
    padding: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid $dirtyGold;
    background: white;
    border-radius: 3px;
    margin: 6px;
    transition: all 0.4s ease-in-out;
    max-height: 60px;
    overflow: hidden;

    // Hover effect

    &:hover{
        box-shadow: $boxShadow;
    }

    .firstCol{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        height: 48px;
        cursor: pointer;

        @include sm{
            width: 68%;
        }
    
        .crContainer{
            margin-right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $dirtyGold;
            border-radius: 3px;
            width: 38px;
            height: 38px;
            background-color: $dirtyGold;
            padding-bottom: 2px;
            margin-left: 4px;

            @include xs{
                height: 30px;
                width: 30px;
            }
    
            .cr{
                font-size: 18px;
                color: white;
                // font-weight: 600;
            }
        }
    
        .nameContainer{
            margin-right: 12px;
    
            .name{
                font-size: 15px;
                max-width: 110px;
                overflow: hidden;

                @include sm{
                    font-size: 13px;
                }
            }
        }
    }

    .secondCol{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        height: 48px;
        cursor: pointer;

        @include sm{
            width: 32%;
            justify-content: flex-end;
        }

        .sizeContainer{
            margin-left: 16px;

            @include sm{
                display: none;
            }
    
            .size{
                font-size: 14px;
                color: $dirtyGold;
                font-weight: 500;
            }
        }

        .typeContainer{
            margin-left: 16px;
            height: 100%;
            display: flex;
            align-items: center;

            .type{
                margin-right: 16px;
                font-size: 14px;
                color: $dirtyGold;
                font-weight: 500;
            }
    
            .icon{
                height: 100%;
    
                img{
                    height: 100%;
                    object-fit: cover;
                    border-radius: 3px;
                }
            }

            @include sm{

                .type{
                    margin-right: 4px;
                    font-size: 13px;
                }
                
                .icon{
                    display: none;
                }
            }
        }
    }

    .dropDownContent{
        width: 100%;
        max-height: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        padding: 16px 8px 8px 8px;

        .descriptionContainer{
            width: 100%;
            margin-bottom: 12px;
            padding-right: 46px;

            .description{
                font-size: 12px;
                opacity: 0.85;
                font-style: italic;
                margin: 0;
            }
        }

        .row{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .col{
            display: flex;
            width: calc(50% - 6px);
            flex-direction: column;

            @include sm{
                width: 100%;
            }
        }

        .divider{
            height: 2px;
            background-color: $mainColorRed;
            margin: 10px 0;
        }

        .key{
            font-size: 16px;
            font-weight: 500;
            color: $mainColorRed;
            margin-right: 10px;
            white-space: nowrap;
        }
        .value{
            font-size: 15px;
            font-weight: 400;
            margin-right: 10px;
        }

        .statRow{
            flex-wrap: wrap;

            @include md{
                justify-content: flex-start;
            }
        }

        .stat{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 8px 12px;

            @include xs{
                width: 20%;
            }

            .title{
                font-size: 16px;
                line-height: 16px;
                font-weight: 600;
                color: $mainColorRed;
            }
            .statValue{
                font-size: 15px;
                font-weight: 400;
                white-space: nowrap;
            }
        }
    }

    &.showMore{
        max-height: 660px;

        .dropDownContent{
            max-height: 600px;
        }
    }

}