@import '/styles/_mixins.scss';
@import '/styles/_variables.scss';

.encounters{
    width: 100%;
    padding: 24px 16px;    
    display: flex;
    flex-direction: column;
    max-width: 1600px;

    .headerContainer{
        width: 100%;
        padding-left: 12px;
        margin: 16px 0 8px 0;

        .header{
            margin: 0;
        }
    }

    .subHeaderContainer{
        width: 100%;
        padding-left: 12px;
        margin: 22px 0 8px 0;

        .subHeader{
            margin: 0;
        }
    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 60px;

        .encounterList{
    
            .list{
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }
    }
}