@import '/styles/_mixins.scss';
@import '/styles/_variables.scss';

.header{
    height: $navHeight;
    width: 100%;
    box-shadow: $boxShadow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #F9F9F9F9 url("/img/background_texture.png") repeat;
    z-index: 999;

    &.transparent{
        background: transparent;
        box-shadow: none;

        img{
            filter: invert(100%);
        }
    }
}