$mainFont: 'Spectral SC', serif;
$secondaryFont: 'Montserrat', sans-serif;

$mainColorDark: #1A3053;
$mainColorMediumDark: #275AA4;
$mainColorMediumLight: #1E9DD9;
$mainColorLight: #62C3D5;
$dirtyGold: #958049;
$mainColorRed: #851111;

$boxShadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
$boxShadowDark: 0px 2px 4px rgba(0, 0, 0, 0.25);
$boxShadowLight: 0px 2px 4px rgba(126, 126, 126, 0.12);
$cardHoverBoxShadow: 0px 2px 12px rgba(0, 0, 0, 0.11);

$navHeight: 60px;

// Keyframes

// Fade in content quickly
$fadeInContent: fadeInContent 0.4s normal ease-in-out;
// Fade in content slowly
$fadeInContentSemiSlow: fadeInContent 0.6s normal ease-in-out;
// Fade in content even more slowly
$fadeInContentSlow: fadeInContent 1.5s normal ease-in-out;
// Fade in content crazy slowly
$fadeInContentExtraSlow: fadeInContent 2s normal ease-in-out;
@keyframes fadeInContent {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

// Fade in content from right
$fadeInContentFromRight: fadeInContentFromRight 0.6s normal ease-in-out;
$fadeInContentFromRightSlow: fadeInContentFromRight 1s normal ease-in-out;
$fadeInContentFromRightExtraSlow: fadeInContentFromRight 1.8s normal ease-in-out;
@keyframes fadeInContentFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
  
    to {
      opacity: 1;
      transform: translateX(0%);
    }
}

// Fade in content from left
$fadeInContentFromLeft: fadeInContentFromLeft 0.6s normal ease-in-out;
$fadeInContentFromLeftSlow: fadeInContentFromLeft 1s normal ease-in-out;
$fadeInContentFromLeftExtraSlow: fadeInContentFromLeft 1.8s normal ease-in-out;
@keyframes fadeInContentFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
  
    to {
      opacity: 1;
      transform: translateX(0%);
    }
}

// Fade in content from bottom
$fadeInContentFromBottom: fadeInContentFromBottom 0.6s normal ease-in-out;
$fadeInContentFromBottomSlow: fadeInContentFromBottom 1s normal ease-in-out;
$fadeInContentFromBottomExtraSlow: fadeInContentFromBottom 1.8s normal ease-in-out;
@keyframes fadeInContentFromBottom {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
  
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}